.sous-conteneur-contact{

    .titre{
        color: #4e4caf;
        font-weight: 700;
    }

    .sous-titre{
        font-size: 35px;
        color: black;
        margin: 10px 0 45px 0;
        position: relative;

        &::before{
            content: "";
            position: absolute;
            height: 2px;
            width: 350px;
            bottom: -5px;
            left: 0;
            background: linear-gradient(to right, transparent,#4e4caf,transparent);
        }
    }

    .grid{
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: 45px;
        // place-items: center;

        .gauche{

            form{
                display: flex;
                flex-direction: column;
                gap: 10px;

                border: 2px solid #4e4caf;
                border-radius: 8px;
                padding: 50px;
                width: 100%;

                .nom, .email, .phone , .message{
                    display: flex;
                    flex-flow: column;
                    color: black;

                    input{
                        border: 1px solid #4e4caf;
                        padding: 10px 10px;
                        outline: none;
                        border-radius: 4px;
                    }

                    label{
                        margin-bottom: 5px;
                    }

                    textarea{
                        border: 1px solid #4e4caf;
                        padding: 10px 10px;
                        outline: none;
                        border-radius: 4px;
                    }
                }

                button{
                    padding: 8px 10px;
                    font-size: 17px;
                    outline: none;
                    border: 2px solid #4e4caf;
                    background-color: #4e4caf;
                    color: white;
                    border-radius: 20px;
                    width: 50%;
                    cursor: pointer;
                    margin-top: 10px;
                }
            }
        }

        .droite{

            .conteneur-images{
                display: flex;
                align-items: flex-start;
                gap: 15px;
                position: relative;

                .image-un{
                    width: 250px;
                    height: 430px;
                    border-radius: 150px;
                    overflow: hidden;

                    img{
                        width: 700px;
                    }
    
                }

                .image-deux{
                    height: 200px;
                    width: 200px;
                    border-radius: 50%;
                    margin-top: 50px;
                }

                .image-trois{
                    position: absolute;
                    bottom: 80px;
                    right: 140px;
                    height: 80px;
                    width: 80px;
                    border-radius: 50%;
                }

                // img{

                //     &:first-child{
                //         width: 180px;
                //         height: 100%;
                //     }
                //     &:last-child{
                //         width: 80px;
                //         height: 80px;
                //     }
    
                // }
            }

        }
    }
}

@media only screen and (max-width: 860px){

    .sous-conteneur-contact{

        .titre{
            color: #4e4caf;
            font-weight: 700;
        }
    
        .sous-titre{
            font-size: 35px;
            color: black;
            margin: 10px 0 45px 0;
            position: relative;
    
            &::before{
                content: "";
                position: absolute;
                height: 2px;
                width: 350px;
                bottom: -5px;
                left: 0;
                background: linear-gradient(to right, transparent,#4e4caf,transparent);
            }
        }
    
        .grid{
            display: grid;
            grid-template-columns: 1fr;
            gap: 45px;
            // place-items: center;
    
            .gauche{
    
                form{
                    display: flex;
                    flex-direction: column;
                    gap: 10px;
    
                    border: 2px solid #4e4caf;
                    border-radius: 8px;
                    padding: 50px;
                    width: 100%;
    
                    .nom, .email, .phone , .message{
                        display: flex;
                        flex-flow: column;
                        color: black;
    
                        input{
                            border: 1px solid #4e4caf;
                            padding: 10px 10px;
                            outline: none;
                            border-radius: 4px;
                        }
    
                        label{
                            margin-bottom: 5px;
                        }
    
                        textarea{
                            border: 1px solid #4e4caf;
                            padding: 10px 10px;
                            outline: none;
                            border-radius: 4px;
                        }
                    }
    
                    button{
                        padding: 8px 10px;
                        font-size: 17px;
                        outline: none;
                        border: 2px solid #4e4caf;
                        background-color: #4e4caf;
                        color: white;
                        border-radius: 20px;
                        width: 50%;
                        cursor: pointer;
                        margin-top: 10px;
                    }
                }
            }
    
            .droite{
    
                .conteneur-images{
                    display: flex;
                    align-items: flex-start;
                    gap: 15px;
                    position: relative;
    
                    .image-un{
                        width: 250px;
                        height: 430px;
                        border-radius: 150px;
                        overflow: hidden;
    
                        img{
                            
                        }
        
                    }
    
                    .image-deux{
                        height: 200px;
                        width: 200px;
                        border-radius: 50%;
                        margin-top: 50px;
                    }
    
                    .image-trois{
                        position: absolute;
                        bottom: 80px;
                        right: 140px;
                        height: 80px;
                        width: 80px;
                        border-radius: 50%;
                    }
    
                }
    
            }
        }
    }
    
}

@media only screen and (max-width: 535px){

    .sous-conteneur-contact{

        .titre{
            color: #4e4caf;
            font-weight: 700;
        }
    
        .sous-titre{
            font-size: 28px;
            color: black;
            margin: 10px 0 45px 0;
            position: relative;
    
            &::before{
                content: "";
                position: absolute;
                height: 2px;
                width: 100%;
                bottom: -5px;
                left: 0;
                background: linear-gradient(to right, transparent,#4e4caf,transparent);
            }
        }
    
        .grid{
            display: grid;
            grid-template-columns: 1fr;
            gap: 45px;
            // place-items: center;
    
            .gauche{
    
                form{
                    display: flex;
                    flex-direction: column;
                    gap: 10px;
    
                    border: 2px solid #4e4caf;
                    border-radius: 8px;
                    padding: 50px;
                    width: 100%;
    
                    .nom, .email, .phone , .message{
                        display: flex;
                        flex-flow: column;
                        color: black;
    
                        input{
                            border: 1px solid #4e4caf;
                            padding: 10px 10px;
                            outline: none;
                            border-radius: 4px;
                        }
    
                        label{
                            margin-bottom: 5px;
                        }
    
                        textarea{
                            border: 1px solid #4e4caf;
                            padding: 10px 10px;
                            outline: none;
                            border-radius: 4px;
                        }
                    }
    
                    button{
                        padding: 8px 10px;
                        font-size: 17px;
                        outline: none;
                        border: 2px solid #4e4caf;
                        background-color: #4e4caf;
                        color: white;
                        border-radius: 20px;
                        width: 50%;
                        cursor: pointer;
                        margin-top: 10px;
                    }
                }
            }
    
            .droite{
    
                .conteneur-images{
                    display: flex;
                    align-items: flex-start;
                    gap: 10px;
                    position: relative;
    
                    .image-un{
                        width: 150px;
                        height: 330px;
                        border-radius: 150px;
                        overflow: hidden;
    
                        img{

                        }
        
                    }
    
                    .image-deux{
                        height: 130px;
                        width: 130px;
                        border-radius: 50%;
                        margin-top: 50px;
                    }
    
                    .image-trois{
                        position: absolute;
                        bottom: 50px;
                        right: 60px;
                        height: 80px;
                        width: 80px;
                        border-radius: 50%;
                    }
    
                }
    
            }
        }
    }

}